html {

    font-family: "Trebuchet MS", "Lucida Sans";
    font-size: 20px;
    overflow-x: hidden;
    width: 370px;
    background-color: white;

}

title {
    color: yellowgreen;
    text-align: center;
}



body {
    background-color: white;
    margin: 0;
    font-size: normal;
    font-weight: normal;
    max-width: 370px;
    overflow-x: hidden;
}

.picture {
    padding: 0px;
    object-position: top;
    float: left;
    height: 370px;
    width: 100%;
    background-color: white;

}

.where_to_go {
    display: block;
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

.what_to_do {
    display: block;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -10px;
}



div {
    background: #eeeee5;
    background-color: white;
}


.rounded {
    margin-right: 20px;
    counter-reset: li;
    object-position: center;
    list-style: none;
    /* font: 14px "Trebuchet MS", "Lucida Sans"; --> */
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rounded a {

    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #e7e1e2;
    color: #09294b;
    text-decoration: none;
    border-radius: .3em;
}

}

.where {
    float: left;
}

.what {
    float: right;

}


.rounded a:hover {
    background: #E9E4E0;

}

.rounded a:hover:before {
    transform: rotate(360deg);
}

.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #84afdd;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.schedule {
    margin-top: 10em;
    color: #09294b;
    display: block;
    list-style: square outside;
}

.photo_place {
    color: #09294b;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;

}

dl {
    font-size: 0.7em;
    line-height: 80%;
}

dl:before {
    content: "«"
}

dl:after {
    content: "»"
}

.map {
    width: 150px;
    height: auto;
}


footer {
    display: block;
    margin-top: 0px;
    text-align: center;
    background-color: white;
}


.santa_gif {

    display: block;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    width: 370px;
}

.Unsubscribe {
    display: block;
    background-color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;

}

.final_greetings {
    display: block;
    margin-top: 10px;
    font-size: 10px;
    color: dimgrey;
}



@media only screen and (max-device-width: 375px) {
    .picture:
        height: 370px;

}


@media (orientation: landscape) {
    body {
        flex-direction: row;

        * {
            display: block;
            position: absolute;
            margin-left: 20px;
        }
    }
}

@media (orientation: portrait) {}

